div.cards__search_form
    .cards__head
        .main_theme_size_h1 Найдём номера под ваши пожелания

    .cards__two_blocks
        .main_theme_size_h3 прибытие
        .dropdown_date
            
        .main_theme_size_h3 выезд