extends index


block links
    link(rel="stylesheet", href="../../blocks/cards/cards.css")

block title 
    | Cards

block content
    div(class="main main_card")
        .cards
            div(class="card")

