html(lang="en")
  head
    link(rel="stylesheet", href="../../blocks/main/main.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet")
    block links
    title
        block title

  body
    include modules/logo
    block content