.main__colors {
    /* position: absolute;
    width: 269.26px;
    height: 610px;
    left: 149.74px;
    top: 145px; */
    
}

.colors__block {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.colors__text {
    font-family: Quicksand;
    font-style: normal;
    font-size: 19px;
    line-height: 29px;
}
.colors__title {
    font-weight: bold;
}